WinServiceStartStop/Service References/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Allocate/Magnum/AssistantService" elementFormDefault="qualified" targetNamespace="http://Allocate/Magnum/AssistantService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Finalise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dutyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinaliseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Unfinalise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dutyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnfinaliseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KillComObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="waitForCurrent" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KillComObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeFinalisationSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maxAgeMinutes" type="xs:int" />
        <xs:element minOccurs="0" name="maxLastAccessMinutes" type="xs:int" />
        <xs:element minOccurs="0" name="timerIntervalMilliseconds" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeFinalisationSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinalisationSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinalisationSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFinalisationSettingsResult" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>