WinServiceStartStop/Service References/ServiceReference1/item1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Allocate/Magnum/AssistantService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Allocate/Magnum/AssistantService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Allocate/Magnum/AssistantService/Imports">
      <xsd:import schemaLocation="http://localhost:9000/?xsd=xsd0" namespace="http://Allocate/Magnum/AssistantService" />
      <xsd:import schemaLocation="http://localhost:9000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9000/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FinalisationService_Finalise_InputMessage">
    <wsdl:part name="parameters" element="tns:Finalise" />
  </wsdl:message>
  <wsdl:message name="FinalisationService_Finalise_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinaliseResponse" />
  </wsdl:message>
  <wsdl:message name="FinalisationService_Unfinalise_InputMessage">
    <wsdl:part name="parameters" element="tns:Unfinalise" />
  </wsdl:message>
  <wsdl:message name="FinalisationService_Unfinalise_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnfinaliseResponse" />
  </wsdl:message>
  <wsdl:message name="FinalisationService_KillComObject_InputMessage">
    <wsdl:part name="parameters" element="tns:KillComObject" />
  </wsdl:message>
  <wsdl:message name="FinalisationService_KillComObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:KillComObjectResponse" />
  </wsdl:message>
  <wsdl:message name="FinalisationService_ChangeFinalisationSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeFinalisationSettings" />
  </wsdl:message>
  <wsdl:message name="FinalisationService_ChangeFinalisationSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeFinalisationSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="FinalisationService_GetFinalisationSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFinalisationSettings" />
  </wsdl:message>
  <wsdl:message name="FinalisationService_GetFinalisationSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFinalisationSettingsResponse" />
  </wsdl:message>
  <wsdl:portType name="FinalisationService">
    <wsdl:operation name="Finalise">
      <wsdl:input wsaw:Action="http://Allocate/Magnum/AssistantService/FinalisationService/Finalise" message="tns:FinalisationService_Finalise_InputMessage" />
      <wsdl:output wsaw:Action="http://Allocate/Magnum/AssistantService/FinalisationService/FinaliseResponse" message="tns:FinalisationService_Finalise_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unfinalise">
      <wsdl:input wsaw:Action="http://Allocate/Magnum/AssistantService/FinalisationService/Unfinalise" message="tns:FinalisationService_Unfinalise_InputMessage" />
      <wsdl:output wsaw:Action="http://Allocate/Magnum/AssistantService/FinalisationService/UnfinaliseResponse" message="tns:FinalisationService_Unfinalise_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KillComObject">
      <wsdl:input wsaw:Action="http://Allocate/Magnum/AssistantService/FinalisationService/KillComObject" message="tns:FinalisationService_KillComObject_InputMessage" />
      <wsdl:output wsaw:Action="http://Allocate/Magnum/AssistantService/FinalisationService/KillComObjectResponse" message="tns:FinalisationService_KillComObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeFinalisationSettings">
      <wsdl:input wsaw:Action="http://Allocate/Magnum/AssistantService/FinalisationService/ChangeFinalisationSettings" message="tns:FinalisationService_ChangeFinalisationSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://Allocate/Magnum/AssistantService/FinalisationService/ChangeFinalisationSettingsResponse" message="tns:FinalisationService_ChangeFinalisationSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFinalisationSettings">
      <wsdl:input wsaw:Action="http://Allocate/Magnum/AssistantService/FinalisationService/GetFinalisationSettings" message="tns:FinalisationService_GetFinalisationSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://Allocate/Magnum/AssistantService/FinalisationService/GetFinalisationSettingsResponse" message="tns:FinalisationService_GetFinalisationSettings_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>